.Reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  h2 {
    margin-bottom: 10px;
    color: #0676ee;
  }
  p {
    color: #626263;
  }
  h3 {
    color: red;
    font-size: 12px;
    margin-top: 20px;

    text-align: center;
  }

  div {
    position: relative;
    margin-top: 70px;
    input {
      width: 540px;
      height: 60px;
      border-radius: 30px;
      outline: none;
      border: 1px solid #eeeeee;
      padding-left: 58px;
      font-size: 14px;
        
      color: #333333;

      &:focus {
        border-color: #007bff;
      }
    }
    .eye {
      background-color: transparent;
      border: none;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  & > button {
    width: 220px;
    height: 60px;
    margin-top: 45px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #0575e6;
    color: white;
    border: none;
  }
}
