.verification-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h4 {
    cursor: pointer;
    font-weight: 400;
    color: #84848d;
    text-decoration: underline;

    &:hover {
      color: #3689db;
    }
  }
  img {
    width: 198px;
    height: 129px;
    margin-bottom: 60px;
    @media (max-width: 500px) {
      width: 148.5px;
      height: 97px;
    }
  }
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 17px;
      color: #84848d;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 500px) {
        font-size: 16px;
      }
      @media (max-width: 450px) {
        font-size: 15px;
      }
      @media (max-width: 350px) {
        font-size: 14px;
      }
      a {
        color: #84848d;

        &:hover {
          color: #3689db;
          cursor: pointer;
        }
      }
    }

    .input-container {
      display: flex;
      column-gap: 10px;
      margin-top: 50px;
      input {
        width: 60px;
        height: 60px;
        border: 1px solid #c1bfbf;
        border-radius: 25px;
        outline: none;
        font-size: 18px;
        text-align: center;
        background-color: #f4f4f4;

        @media (max-width: 500px) {
          width: 50px;
          height: 50px;
          border-radius: 20px;
        }
        @media (max-width: 450px) {
          width: 40px;
          height: 40px;
          border-radius: 15px;
        }
        &:focus {
          border-color: #007bff;
        }
      }
    }
    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 45px;

      @media (max-width: 450px) {
        width: 88%;
        margin-top: 40px;
        margin-bottom: 25px;
      }
    }
    p {
      position: absolute;
      top: 170px;
      color: rgb(195, 11, 11);

      @media (max-width: 500px) {
        top: 160px;
      }
      @media (max-width: 450px) {
        top: 143px;
        font-size: 14px;
      }
    }
    h2 {
      font-size: 13px;
      color: #84848d;
      font-weight: 400;
    }
    button {
      width: 150px;
      height: 40px;
      font-size: 14px;
      border-radius: 30px;
      cursor: pointer;
      background-color: #2e86dd;
      color: white;
      border: none;

      @media (max-width: 450px) {
        width: 130px;
      }
    }
    .resend-code {
      width: auto;
      height: auto;
      display: inline-block;
      background-color: transparent;
      color: black;
      border: none;
      cursor: pointer;

      &:hover {
        color: #3689db;
      }
    }
  }
}
